{
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"singleQuote": true,
	"svelteAllowShorthand": false,
	"singleAttributePerLine": true,
	"svelteBracketNewLine": true,
	"svelteStrictMode": true,
	"svelteIndentScriptAndStyle": true,
	"arrowParens": "always",
	"cursorOffset": -1,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"experimentalTernaries": true,
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": true,
	"printWidth": 120,
	"proseWrap": "preserve",
	"svelteSortOrder": "scripts-options-markup-styles",
	"overrides": [],
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"]
}
