@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #0b1019;
		--background: #f0f6ff;
		--container: #f4f9ff;
		--primary: #f77c7f;
		--accent: #16abd1;
	}
	.dark {
		--text: #e6ebf4;
		--background: #202326;
		--container: #2e3338;
		--primary: #984447;
		--accent: #42bfdd;
	}
}
