@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #e6ebf4;
		--background: #ffffff;
		--container: #2e3338;
		--primary: #984447;
		--accent: #42bfdd;
	}
	.dark {
		--text: #e6ebf4;
		--background: #202326;
		--container: #2e3338;
		--primary: #984447;
		--accent: #42bfdd;
	}
}
