@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #0b1019;
		--background: #f4f6fb;
		--primary: #1e3c6b;
		--secondary: #759ce1;
		--accent: #45f251;
	}
	.dark {
		--text: #e6ebf4;
		--background: #04060b;
		--primary: #94b1e1;
		--secondary: #1e468a;
		--accent: #0dba18;
	}
}
